<div class="album-detail-polaroid">
  <div class="polaroid">  
    <% if @task_log.image.attached? %> 
    <%= image_tag @task_log.image.variant(resize_to_limit: [300, 300]) %>
    <% end %>
    <p><%= @task_log.title %></p>
   <p><%= @task_log.created_at.strftime('%Y/%m/%d') %></p>
  </div>
 <div class="actions">
  <%= link_to '戻る', album_child_task_logs_path(@child), class: 'btn-pastel' %>
 </div>
</div>
